# Ignorar carpeta antigua o redundante de la práctica 1
Practica 1/
Practica 1

# Compilados de Java y directorios de build
*.class
bin/
out/
target/
build/

# Archivos de empaquetado (a menos que sean librerías fijas necesarias)
*.jar
*.war
*.ear

# Logs
*.log

# IDEs y editores
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Archivos de sistema operativo y entorno
.DS_Store
Thumbs.db
Desktop.ini
.gemini/
